dcu/*
Win32/*
__history/*
__recovery/*
Common/__history/*
Common/__recovery/*
Common/Win32/*
DataConn/__history/*
DataConn/__recovery/*
DataConn/Win32/*
Login/__history/*
Login/__recovery/*
Login/Win32/*
PatientInfo/__history/*
PatientInfo/__recovery/*
PatientInfo/Win32/*
Test/__history/*
Test/__recovery/*
Test/Win32/*
Main/__history/*
Main/__recovery/*
Main/Win32/*
*.local
*.identcache
*.skincfg






